# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
.venv/
venv/
env/
ENV/

# Testing / coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.nox/
coverage.xml
*.cover
.build/
.nimcache/
.nimble/
node_modules/
nim.cfg
nimbledeps/
bitworld/
bumpy/
chroma/
checksums/
crunchy/
curly/
dx12/
flatty/
fluffy/
libcurl/
metal4/
mummy/
nimsimd/
opengl/
paddy/
pathy/
pixie/
shady/
silky/
supersnappy/
taggy/
urlly/
vk14/
vmath/
webby/
whisky/
windy/
ws/
zippy/
**/tests/nim/test_*
!**/tests/nim/test_*.nim

# Type checkers / linters
.mypy_cache/
.pyright/
.ruff_cache/

# IDE / editor
.idea/
.vscode/
*.swp
*.swo
.DS_Store
